@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.titulos {
    border-bottom: 4px double rgba(181,32,181,1);
    padding-bottom: 10px;
    width: 35%;
    font-weight: bold;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.textos {
    text-align: justify;
}
#cadastro_redirect {
    height: 130px;
}

/* Form */
  #cadastro {
    border-right: 4px inset rgba(181,32,181,1);
    border-bottom: 4px inset rgba(181,32,181,1);
    border-left: 4px outset #9f9f9f;
    border-top: 4px outset #9f9f9f;
    background-color: white;
    border-radius: 5%;
    padding: 60px;
  }

  #form_cadastro {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  input[type=email], input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: #5c5c5c solid 1px;
    box-sizing: border-box;
  }
  input[type=email]:hover, input[type=text]:hover, input[type=password]:hover {
    border: rgba(139,0,139,1) solid 1px;
  }

  #label_for_foto {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: #5c5c5c solid 1px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  #label_for_foto:hover {
    opacity: 0.8;
  }

  .label_form {
    float: left;
  }
  
  #btnCadastro {
    background-color: rgba(139,0,139,1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    width: 120px;
    transition: 0.5s;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  #btnCadastro:hover {
    opacity: 0.8;
    transition: 0.5s;
  }


/* Menu */
#menu-h{
    position: fixed;
    background: radial-gradient(circle, rgba(139,0,139,1) 85%, rgba(181,32,181,1) 92%);
    height: 70px;
    width: 100%;
    z-index: 3;
}
#menu-content {
    display: flex;
    background: radial-gradient(circle, rgba(139,0,139,1) 85%, rgba(181,32,181,1) 92%);
    flex-direction: row;
}

#menu-h ul {
    max-width: 80%;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 22px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#qc_menu {
    font-family: 'Shippori Antique B1', sans-serif;
}

#pags_redirect {
    font-family: 'Shippori Antique B1', sans-serif;
    background-color: rgba(139,0,139,1);
}

#pags_redirect:hover {
    background-color: rgb(156, 25, 156);
}

#menu-h ul li:first-child {
    float: left;
    background-color: #b520b5;
}

html{
    height: 100%;
  }
  
  body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-image: url(../img/fundo.jpg);
    height: 100%;
  }
  
  .content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
  }
  
  #progress {
    display: inline-block;
    margin: 4px 0;
    width: 100%;
    height: 20px;
  }

  #container_none {
    height: 100px;
  }

  /* Ajustes (Site rodando no celular) */
  @media screen and (max-width: 767px) {
    .titulos {
        width: 80%;
    }
  }

  /* Modal */
  #btnLoginRedirect {
    background-color: rgba(139,0,139,1);
    color: white;
    padding: 10px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    width: 100px;
    transition: 0.5s;
  }
  #btnLoginRedirect:hover {
    opacity: 0.7;
    transition: 0.5s;
  }