@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.titulos {
    border-bottom: 4px double rgba(181,32,181,1);
    padding-bottom: 10px;
    width: 35%;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.textos {
    text-align: justify;
}
#pagUsuario_redirect {
    height: 130px;
}

/* Página do Usuário */
  #name_user {
  text-align: center;
  color: rgb(98, 0, 98);
  }
  #btnLogoff {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248, 248, 248);
    color: black;
    border: rgba(139,0,139,1) solid 3px;
    padding: 10px 16px;
    border-radius: 5%;
    cursor: pointer;
    transition: 0.5s;
  }
  
  #btnLogoff:hover {
    opacity: 0.7;
    transition: 0.5s;
  }

  #painel {
    display: none;
  }

  #painel_usuario {
    padding-bottom: 50px;
  }

  #collapse_painel_button {
    border: none;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #descollapse_painel_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: white;
  }

  #marcar_consulta_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248, 248, 248);
    border: rgba(139,0,139,1) solid 3px;
    padding: 10px 16px;
    border-radius: 5%;
    cursor: pointer;
    transition: 0.5s;
  }
  #marcar_consulta_button,span {
    padding-right: 5px;
  }
  #marcar_consulta_button,a {
    text-decoration: none;
  }
  #marcar_consulta_button,a:hover {
    color: black;
  }
  #marcar_consulta_button:hover {
    opacity: 0.7;
    transition: 0.5s;
  }
/* */

/* Menu */
#menu-h{
    position: fixed;
    background: radial-gradient(circle, rgba(139,0,139,1) 85%, rgba(181,32,181,1) 92%);
    height: 70px;
    width: 100%;
    z-index: 3;
}
#menu-content {
    display: flex;
    background: radial-gradient(circle, rgba(139,0,139,1) 85%, rgba(181,32,181,1) 92%);
    flex-direction: row;
}

#menu-h ul {
    max-width: 80%;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 22px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#qc_menu {
    font-family: 'Shippori Antique B1', sans-serif;
}

#pags_redirect {
    font-family: 'Shippori Antique B1', sans-serif;
    background-color: rgba(139,0,139,1);
}

#pags_redirect:hover {
    background-color: rgb(156, 25, 156);
}

#menu-h ul li:first-child {
    float: left;
    background-color: #b520b5;
}
  
  #container_none {
    height: 100px;
  }

  /* Ajustes (Site rodando no celular) */
  @media screen and (max-width: 767px) {
    .titulos {
        width: 50%;
    }
  }
